<h1>Products</h1>
@if (loading()) {
  <div>
    loading...
  </div>
} @else {
  @if (loaded()) {
    @if (products().length > 0) {
      <ul>
        @for (product of products(); track product._id) {
          <li>
            <a [routerLink]="[product._id]">{{ product.name }}</a> ${{ product.price }}
            <button (click)="onEdit(product)">Edit</button>
            <button (click)="onDelete(product)" app-async-button [asyncInProgress]="isProductDeleting(product._id)()" [asyncType]="'delete'">Delete</button>
            <!-- <button (click)="onDelete(product)">Delete</button> -->
          </li>
        }
      </ul>
    } @else {
      <p>You haven't added any products yet. Add a Product!</p>
    }
  }
}

<br/>
<button (click)="onAdd()">Add</button>

@if (editing) {
  <product-edit [product]="selectedProduct" [mode]="'update'" (formClosed)="onFormClosed()"></product-edit>
}
@else if (adding) {
  <product-edit [mode]="'create'" (formClosed)="onFormClosed()"></product-edit>
}
