<div class="">
    <main class="">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1 class="">Please sign in</h1>
  
        <div class="form-floating">
          <input formControlName="userName" type="email" class="" id="email" placeholder="name@example.com" />
          <label for="email">Email address</label>
        </div>
        <div class="">
          <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
          <label for="email">Password</label>
        </div>
        <button class="" type="submit">Sign in</button>
      </form>
    </main>
  </div>